body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: black;
}

.orange {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 16px;
  margin: 10px;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

#previewContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.preview-thumb {
  position: relative;
  margin: 5px;
}

.preview-thumb img {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.delete-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
}

.result-box {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
